body{
	background-color:
}



button {

}

.heading{
	background-color: #d2691e; 
	color: white;
	width: 25%;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 20px 25px;
	text-align: center;
	
}
.instruct {
	background-color: #ffe4c4;
	color: #228b22;
	box-sizing: border-box; 
	max-width: 35%;
	margin-left: 10px;
	margin-top: 100px:;
	padding: 20px 25px 20px 25px;
	
}

.randomNum{
	background-color: #3cb371;
	color: #0000cd;
	width: 220px;
	height: 100px;
	margin-left: 10px;
	margin-top: 4px;
	padding: 20px 25px 20px 25px;
	float: left;

}

.winLosebox{
	background-color: #7fffd4;
	width: 200px;
	height: 100px;
	margin: 4px;
	vertical-align: top;
	float: left; 
	padding: 20px 25px 20px 25px;
}

.scoreIs{
	background-color: #20b2aa;
	color: white;
	width: 200px;
	height: 50px;
	margin: 15px 10px;

		
}

.scoreTracker{
	background-color: #20b2aa;
	color: white;
	margin: auto;
	width: 200px;
	height: 100px;
	margin: 10px;
	
}

.buttons{
	margin-top: 130px;
	margin-left:10px;
	height: 100px;
	position: relative;
	


}